<!DOCTYPE html>
<html lang="en">
<style>
.container {
  height: 400px;
  width: 800px;
  position: relative;
  border: 1px solid black;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#mydiv {
  position: absolute;
  z-index: 9;
  text-align: center;
  padding: 10px;
  cursor: move;
  top:50%;
  left:50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
</style>

<head>
    <!-- BROWSER ICON -->
    <link rel="icon" href="static/images/icon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="static/images/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/images/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/images/icon/favicon-16x16.png">
    <link rel="manifest" href="static/images/icon/site.webmanifest">
    <link rel="mask-icon" href="static/images/icon/safari-pinned-tab.svg" color="#5bbad5">
    <meta charset="UTF-8">
    <title>Welcome to my page!</title>
</head>

<body bgcolor="6a7495">
    <div id="mydiv">
        <img id="image" src="/static/images/uploads/{{image}}"></div>
    </div>
    <div class="center">
        <div class="container" id="container">
        </div>
    </div>

    <form action="" method="POST" enctype = "multipart/form-data">
         <input type = "file" name = "file" accept="jpg/png" />
         <input type = "submit"/>
    </form>
    <form action="" method="POST">
        x:<br>
        <input type="number" id="x" name="x" value="400" min="0" max="800"><br>
        y:<br>
        <input type="number" id="y" name="y" value="200" min="0" max="400">
        <input type="submit" name="xml" value="Generate XML!" />
    </form>


    <textarea>{{xml}}</textarea><br/>
    <button>Select</button>


<script>
    //Make the DIV element draggagle:
    dragElement(document.getElementById("mydiv"));

    function dragElement(elmnt) {
      var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
      var container = null, container_x = 0, container_y = 0 , new_x=0, new_y=0;

      if (document.getElementById(elmnt.id + "header")) {
        /* if present, the header is where you move the DIV from:*/
        document.getElementById(elmnt.id + "header").onmousedown = dragMouseDown;
      } else {
        /* otherwise, move the DIV from anywhere inside the DIV:*/
        elmnt.onmousedown = dragMouseDown;
      }

      function dragMouseDown(e) {
        e = e || window.event;
        e.preventDefault();
        // get the mouse cursor position at startup:
        pos3 = e.clientX;
        pos4 = e.clientY;
        document.onmouseup = closeDragElement;
        // call a function whenever the cursor moves:
        document.onmousemove = elementDrag;
      }

      function elementDrag(e) {
        e = e || window.event;
        e.preventDefault();
        // calculate the new cursor position:
        pos1 = pos3 - e.clientX;
        pos2 = pos4 - e.clientY;
        pos3 = e.clientX;
        pos4 = e.clientY;
        // Find position of container
        container = document.getElementById('container');
        container_x = container.parentElement.offsetLeft;
        container_y = container.parentElement.offsetTop;
        // Update the form with the new position if it is not out of bounds
          new_x = elmnt.offsetLeft - pos1 - container_x + 400;
          new_y = elmnt.offsetTop - pos2 - container_y + 200;
          if ((new_x >= 0 && new_x <= 800) && (new_y >= 0 && new_y <= 400)) {
            document.getElementById('x').value = new_x;
            document.getElementById('y').value = new_y;
            // set the element's new position:
            elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
            elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
          }



      }

      function closeDragElement() {
        /* stop moving when mouse button is released:*/
        document.onmouseup = null;
        document.onmousemove = null;
      }
    }

    document.querySelector("button").onclick = function(){
  document.querySelector("textarea").select();
  document.execCommand('copy');
};
</script>

</body>
</html>